@import "tailwindcss";

@font-face {
  font-family: 'HelveticaMedium';
  src: url('/helveticamediumrusbyme.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'HelveticaMedium', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 0.9;
  color: #000;
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  * {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
}

body {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

#root {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
