@import "tailwindcss";

@font-face {
  font-family: 'HelveticaNeueBlack';
  src: url('/HelveticaNeueBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    letter-spacing: -1px;
    line-height: 0.9;
    color: #000;
    box-sizing: border-box;
  }

  body {
    font-family: 'HelveticaNeueBlack', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 640px) {
    body {
      font-size: 18px;
    }
  }

  h1 {
    font-size: 8vw;
  }

  @media (min-width: 640px) {
    h1 {
      font-size: 4vw;
    }
  }
}
